<div class="container-fluid">
  <h1 style="text-align: center;"> <u>Flow Manager</u> </h1>
  <div class="row row-button">
    <button mat-raised-button color="primary" (click)=openAddModal()>Create</button>
    <button mat-raised-button (click)=updateRow()>Update</button>
    <button mat-raised-button color="warn" (click)="deleteRowComponent()">Delete</button>
  </div>

  <div class="col-md-12" style="margin-top: 50px">
    <div>
      <button class="btn btn-primary" [routerLink]="['/flow-manager']">Back</button>
      <label>Selected Flow:</label>
      <span>{{message}}</span>
    </div>

    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
      [animateRows]="true" class="ag-theme-balham" [columnDefs]="columnDefs" [rowData]="data" [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChange()" (gridReady)="onGridReady($event)"></ag-grid-angular>
  </div>

  <div *ngIf="showConnectors" style="padding:100px">
    <div class="row row-button">
      <button mat-raised-button color="primary" (click)=openAddConnectorModal()>Create</button>
      <button mat-raised-button (click)=updateRowConnector()>Update</button>
      <button mat-raised-button color="warn" (click)="deleteConnector()">Delete</button>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div *ngIf="showMicroFlow">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
            (selectionChanged)="onSelectionConnectorChange()" [rowSelection]="rowSelection" [animateRows]="true" class="ag-theme-balham"
            [columnDefs]="connectorColDef" [rowData]="connectorData" (gridReady)="onGridConnectorReady($event)"></ag-grid-angular>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="showMicroFlow" style="padding:100px">
    <div class="row row-button">
      <button mat-raised-button color="primary" (click)=openAddMFModal()>Create</button>
      <button mat-raised-button (click)=updateRowMicro()>Update</button>
      <button mat-raised-button color="warn" (click)="deleteMicroFlow()">Delete</button>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div *ngIf="showMicroFlow">
          <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" [defaultColDef]="defaultColDef"
            (selectionChanged)="onSelectionMFChange()" [rowSelection]="rowSelection" [animateRows]="true" class="ag-theme-balham"
            [columnDefs]="microColDef" [rowData]="microFlow" (gridReady)="onGridMicroFlowReady($event)"></ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addModel}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3" [formGroup]="createFlowComponentModel">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="component_name">Component Name</label>
                <input type="text" class="form-control" placeholder="Enter component name" id="component_name"
                  formControlName="component_name" [(ngModel)]="iFlowComponent.component_name" [ngClass]="{ 'is-invalid': submitted && form_control.component_name.errors }">
                <div *ngIf="submitted && form_control.component_name.errors" class="invalid-feedback">
                  <div *ngIf="form_control.component_name.errors.required">{{'require_name' | i18next}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="label">Label</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_label' | i18next}}" id="label"
                  formControlName="label" [(ngModel)]="iFlowComponent.label" [ngClass]="{ 'is-invalid': submitted && form_control.label.errors }">
                <div *ngIf="submitted && form_control.label.errors" class="invalid-feedback">
                  <div *ngIf="form_control.label.errors.required">{{'require_label' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="type">Type</label>
                <input class="form-control" id="type" placeholder="Enter Type" formControlName="type" [(ngModel)]="iFlowComponent.type"
                  [ngClass]="{ 'is-invalid': submitted && form_control.type.errors }">
                <div *ngIf="submitted && form_control.type.errors" class="invalid-feedback">
                  <div *ngIf="form_control.type.errors.required">{{'require_description' | i18next}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sequence_id">Sequence Id</label>
                <input type="text" class="form-control" placeholder="Enter Sequence Id" id="sequence_id" [(ngModel)]="iFlowComponent.sequence_id"
                  formControlName="sequence_id" [ngClass]="{ 'is-invalid': submitted && form_control.sequence_id.errors }">
                <div *ngIf="submitted && form_control.sequence_id.errors" class="invalid-feedback">
                  <div *ngIf="form_control.sequence_id.errors.required">should not be empty</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dev_language">Development Language</label>
                <input class="form-control" id="dev_language" placeholder="Enter Dev Language" formControlName="dev_language"
                  [(ngModel)]="iFlowComponent.dev_language" [ngClass]="{ 'is-invalid': submitted && form_control.dev_language.errors }">
                <div *ngIf="submitted && form_control.dev_language.errors" class="invalid-feedback">
                  <div *ngIf="form_control.dev_language.errors.required">{{'require_description' | i18next}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="dev_framework">Development Framework</label>
                <input type="text" class="form-control" placeholder="enter Dev Framework" id="dev_framework"
                  [(ngModel)]="iFlowComponent.dev_framework" formControlName="dev_framework" [ngClass]="{ 'is-invalid': submitted && form_control.dev_framework.errors }">
                <div *ngIf="submitted && form_control.dev_framework.errors" class="invalid-feedback">
                  <div *ngIf="form_control.dev_framework.errors.required">should not be empty</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">{{ 'description' | i18next }}</label>
                <textarea class="form-control" rows="1" id="description" placeholder="{{'placeholder_description' | i18next}}"
                  formControlName="description" [(ngModel)]="iFlowComponent.description" [ngClass]="{ 'is-invalid': submitted && form_control.description.errors }"></textarea>
                <div *ngIf="submitted && form_control.description.errors" class="invalid-feedback">
                  <div *ngIf="form_control.description.errors.required">{{'require_description' | i18next}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" formControlName="connector" [(ngModel)]="iFlowComponent.connector"
                      value="">Connector</label>
                </div>
              </div>
            </div>


          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="isCreateModel">
          <button type="button" class="btn button-create" (click)="createFlowComponent()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="!isCreateModel">
          <button type="button" class="btn button-create" (click)="updateFlowCompModel()">update</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addConnectorModel}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3" [formGroup]="createConnectorForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" id="name" formControlName="name"
                  [(ngModel)]="connector.name" [ngClass]="{ 'is-invalid': submitted && form_control.name.errors }">
                <div *ngIf="submitted && form_control.name.errors" class="invalid-feedback">
                  <div *ngIf="form_control.name.errors.required">{{'require_name' | i18next}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" placeholder="Enter Description" id="description"
                  formControlName="description" [(ngModel)]="connector.description" [ngClass]="{ 'is-invalid': submitted && form_control.description.errors }">
                <div *ngIf="submitted && form_control.description.errors" class="invalid-feedback">
                  <div *ngIf="form_control.description.errors.required">{{'require_label' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="url">URL</label>
                <input class="form-control" id="url" placeholder="Enter URL" formControlName="url" [(ngModel)]="connector.url"
                  [ngClass]="{ 'is-invalid': submitted && form_control.url.errors }">
                <div *ngIf="submitted && form_control.url.errors" class="invalid-feedback">
                  <div *ngIf="form_control.url.errors.required">{{'require_description' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="!isUpdateConnector">
          <button type="button" class="btn button-create" (click)="createConnector()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseConnectorHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="isUpdateConnector">
          <button type="button" class="btn button-create" (click)="updateConnector()">update</button>
          <button type="button" class="btn button-close" (click)="onCloseConnectorHandled()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addMFModel}">
  <div class="modal-dialog modal-md" role="dialog">
    <div class="modal-content">
      <div class="container">
        Add Sequence for : {{selectedFlow[0]?.component_name}}
        <form class="m-3" [formGroup]="createMFlowForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="sequence_id">Sequence Id</label>
                <input type="text" class="form-control" placeholder="Enter Sequence Id" id="sequence_id"
                  formControlName="sequence_id" [(ngModel)]="iMicroFlow.sequence_id" [ngClass]="{ 'is-invalid': submitted && form_control.sequence_id.errors }">
                <div *ngIf="submitted && form_control.sequence_id.errors" class="invalid-feedback">
                  <div *ngIf="form_control.sequence_id.errors.required">{{'require_name' | i18next}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="component_name">Component Name</label>
                <input type="text" class="form-control" placeholder="Enter Component Name" id="component_name" [value]="selectedFlow[0]?.component_name"
                  disabled formControlName="component_name" [(ngModel)]="iMicroFlow.component_name" [ngClass]="{ 'is-invalid': submitted && form_control.component_name.errors }">
                <div *ngIf="submitted && form_control.component_name.errors" class="invalid-feedback">
                  <div *ngIf="form_control.component_name.errors.required">{{'require_label' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="micro_flow_step_name">Micro Flow name</label>
                <textarea class="form-control" rows="1" id="micro_flow_step_name" placeholder="Enter Micro Flow Name"
                  formControlName="micro_flow_step_name" [(ngModel)]="iMicroFlow.micro_flow_step_name" [ngClass]="{ 'is-invalid': submitted && form_control.micro_flow_step_name.errors }"></textarea>
                <div *ngIf="submitted && form_control.micro_flow_step_name.errors" class="invalid-feedback">
                  <div *ngIf="form_control.micro_flow_step_name.errors.required">{{'require_description' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group" *ngIf="!isUpdateMF">
          <button type="button" class="btn button-create" (click)="createMicroFLow()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseMFHandled()">{{ 'cancel' | i18next }}</button>
        </div>
        <div class="form-group" *ngIf="isUpdateMF">
          <button type="button" class="btn button-create" (click)="updateMicroFlow()">update</button>
          <button type="button" class="btn button-close" (click)="onCloseMFHandled()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>