<div>
  <h1 style="text-align: center;"> <u>Backend Flow </u> </h1>
</div>
<!-- <div>
    <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select">
        <option value="" selected >Select</option>
        <option value="" *ngFor="let fl of flows">{{ fl.name }}</option>
      </select>
</div> -->
<div class="row" style="margin: 0px;">
  <div class="col-md-12" style="display: contents;">
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" (change)="selectFlow($event.target.value)">
          <option selected>Select</option>
          <option [value]="fl.name" *ngFor="let fl of dataFlow">{{fl.name}}</option>
        </select>
        <p>Selected Flow is: {{selectedFlow.name}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <ng-multiselect-dropdown [placeholder]="'Select Flow Components'" [data]="dataFlowComponent" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onUnSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary button" (click)="saveGenFlow()">Save Flow</button>
    </div>
    <div class="col-md-3">
      <div cdkDropList (cdkDropListDropped)="onDrop($event)" *ngIf="showMainContent">
        <div class="box" *ngFor="let item of items" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin: 0px;">
  <div class="col-md-12" style="display: contents;">
    <div class="col-md-3" *ngFor="let gen of getGenFlow">
      <div class="card">
        <div class="card-header">{{gen.flow_name.name}}</div>
        <div class="card-body" *ngFor="let comp of gen.flow_sequence">
          <span>{{comp.name}}</span>
        </div>
      </div>
    </div>
  </div>

</div>