<!-- <div *ngIf="checkSelectedFlow">
  <h1 style="text-align: center;"> <u>Flow Components</u> </h1>
</div> -->
<div>
  <h1 style="text-align: center;"> <u>Flows</u> </h1>
</div>
<!-- <div *ngIf="checkSelectedMicroFlow">
  <h1 style="text-align: center;"> <u>Micro Flows</u> </h1>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"  [rowData]="rowData" [animateRows]="true"  [defaultColDef]="defaultColDef"
       (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"></ag-grid-angular>
      <!-- <ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [data]="dataFlowComponent"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onDeSelect)="onItemDeSelect($event)"
  (onDeSelectAll)="onUnSelectAll($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown> -->
      <!-- <button class="btn btn-primary" (click)="addFlowComponent">Add Flow Conponent</button> -->
      <!-- <div *ngIf="checkSelectedFlow">
        <div class="test-header">Selected Flow: <span>{{selectedFlow[0].name}}</span></div>
        <ag-grid-angular #agGrid style="width: 73%; height: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
          [rowSelection]="rowSelection" [rowData]="dataFlowComponent" (selectionChanged)="onSelectionFlowChanged($event)"
          (gridReady)="onGridReady($event)"></ag-grid-angular>
          </div> -->
      <!-- <div *ngIf="checkSelectedMicroFlow">
      <ag-grid-angular #agGrid style="width: 38%; height: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefsMicroFlow"
      [rowSelection]="rowSelection" [rowData]="rowDataMicroFlow" (selectionChanged)="onSelectionMicroFlowChanged($event)"       [rowMultiSelectWithClick]="true"
      (gridReady)="onGridReady($event)"></ag-grid-angular>
      </div> -->
    </div>
  </div>
</div>

<div class="row" style="margin: 0px;">
  <div class="col-md-12" style="display: contents;">
    <div class="col-md-3">
      <div class="card" *ngIf="checkSelectedMicroFlow && checkSelectedFlowComponent">
        <div class="card-header">Flow: <span>{{selectedFlow[0].name}}</span></div>
        <div class="card-body">
          <h6><b>Flow Components</b></h6>
          <span>{{selectedFlowComponents[0].name}}</span>
        </div>
        <div class="card-body">
          <h6><b>Micro Flow</b></h6>
          <span *ngFor="let micro of selectedMicroFlow">{{micro.name}}<br /></span>
        </div>
      </div>
    </div>
  </div>
</div>