<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" i18n="@@createProjectBtn" (click)=openModal() class="btn btn-info btn-sm create-project-btn"><i class="fa fa-plus plus-icon"></i>{{ 'create_project' | i18next }}</button>
</div>
<div class="container" *ngIf="project">
    <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">{{name}}</div>
            <div class="card-body">
              <div><span>{{description}}</span></div>
                <button type="button" class="btn btn-primary btn-space pull-right">Edit</button>
                <button type="button" class="btn btn-danger btn-space pull-right">Delete</button>
            </div> 
            <!-- <div class="card-footer">Footer</div> -->
          </div>
      <!-- <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers">12</span>
        <span class="count-name">Flowz</span>
      </div> -->
    </div>
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <!-- <div class="">
          <div class="text-center">
            <h6 class="title">Create Project</h6>
          </div>
      </div> -->
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div> -->
      <div class="container">
        <form class="m-3" [formGroup]="createProject">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">{{ 'name' | i18next }}</label>
                <input type="text" class="form-control" i18n-placeholder="@@placeholder-name" placeholder="Enter name" id="name" formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
              <div class="form-group">
                <label for="label" i18n="@@label">{{ 'label' | i18next }}</label>
                <input type="text" class="form-control" i18n-placeholder="@@placeholder-label" placeholder="Enter Label" id="label" formControlName="label"
                  [ngClass]="{ 'is-invalid': submitted && f.label.errors }">
                <div *ngIf="submitted && f.label.errors" class="invalid-feedback">
                  <div *ngIf="f.label.errors.required">Label is required</div>
                </div>
              </div>
            </div>
            <!--  col-md-6   -->
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="app-context" i18n="@@appContext">{{ 'app_context' | i18next }}</label>
                <input type="text" class="form-control" i18n-placeholder="@@placeholder-appContext" placeholder="Enter App Context" id="app-context"
                  formControlName="appContext" [ngClass]="{ 'is-invalid': submitted && f.appContext.errors }">
                <div *ngIf="submitted && f.appContext.errors" class="invalid-feedback">
                  <div *ngIf="f.appContext.errors.required">App Context is required</div>
                </div>
              </div>


            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">

              <div class="form-group">
                <label for="description" i18n="@@description">{{ 'description' | i18next }}</label>
                <textarea class="form-control" rows="1" id="description"  i18n-placeholder="@@placeholder-description" placeholder="description" formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
              </div>
            </div>
            <!--  col-md-6   -->
          </div>
          <!--  row   -->


          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="primary-language" i18n="@@primaryLanguage">{{ 'primary_language' | i18next }}</label>
                <select class="form-control" id="primary-language" formControlName="primaryLanguage" [ngClass]="{ 'is-invalid': submitted && f.primaryLanguage.errors }">
                  <option value="" selected>select primary language</option>
                  <option value="english">English</option>
                  <option value="tamil">Tamil</option>
                  <option value="spanish">Spanish</option>
                </select>
                <!-- <div *ngIf="submitted && f.primaryLanguage.errors" class="invalid-feedback">
                  <div *ngIf="f.primaryLanguage.errors.required">Primary Language is required</div>
                </div> -->
              </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
              <div class="form-group">
                <label for="secondary-language" i18n="@@secondaryLanguage">{{ 'secondary_language' | i18next }}</label>
                <select class="form-control" id="secondary-language" formControlName="secondaryLanguage">
                  <option value="" selected  >select secondary language</option>
                  <option *ngFor="let c of languages" [ngValue]="c">{{ c }}</option>
                </select>
                <!-- <div *ngIf="submitted  && f.secondaryLanguage.errors" class="invalid-feedback">
                  <div *ngIf="f.secondaryLanguage.errors.required">Secondary Language is required</div>
                </div> -->
              </div>
            </div>
            <!--  col-md-6   -->
          </div>
          <!--  row   -->
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn button-create" (click)="projectCreate()" i18n="@@createBtn">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()" i18n="@@cancelBtn">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>