<div class="toppane">
  <button type="button" i18n="@@createProjectBtn" (click)=openModal() class="btn btn-info btn-sm pull-right">
    <i class="fa fa-plus plus-icon"></i>{{ 'create_project' | i18next }}
  </button>
</div>
<div class="leftpane">
  <h4>Geppetto Sample Apps</h4>
</div>
<div class="middlepane">
  <h4>My Projects</h4>
  <div class="row" style="margin: 0px;">
      <div class="col-md-4" style="margin-bottom: 10px" *ngFor="let proj of myAllProjects; let i = index">
    <div class="card">
      <div class="card-header">{{proj.name}}</div>
      <div class="card-body">
        <div><span>{{proj.description}}</span></div>
        <button type="button" class="btn btn-primary btn-space pull-right">Edit</button>
        <button type="button" class="btn btn-danger btn-space pull-right">Delete</button>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="rightpane">
  <h4>Shared Apps</h4>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayModel}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content">
      <div class="container">
        <form class="m-3" [formGroup]="createProject">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">{{ 'name' | i18next }}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_name' | i18next}}" id="name"
                  formControlName="name" [ngClass]="{ 'is-invalid': submitted && form_control.name.errors }">
                <div *ngIf="submitted && form_control.name.errors" class="invalid-feedback">
                  <div *ngIf="form_control.name.errors.required">{{'require_name' | i18next}}</div>
                </div>
              </div>
            </div>
            <!--  col-md-6   -->

            <div class="col-md-6">
              <div class="form-group">
                <label for="label">{{ 'label' | i18next }}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_label' | i18next}}" id="label"
                  formControlName="label" [ngClass]="{ 'is-invalid': submitted && form_control.label.errors }">
                <div *ngIf="submitted && form_control.label.errors" class="invalid-feedback">
                  <div *ngIf="form_control.label.errors.required">{{'require_label' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="app-context">{{ 'app_context' | i18next }}</label>
                <input type="text" class="form-control" placeholder="{{'placeholder_appContext' | i18next}}" id="app-context"
                  formControlName="appContext" [ngClass]="{ 'is-invalid': submitted && form_control.appContext.errors }">
                <div *ngIf="submitted && form_control.appContext.errors" class="invalid-feedback">
                  <div *ngIf="form_control.appContext.errors.required">{{'require_appContext' | i18next}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="description">{{ 'description' | i18next }}</label>
                <textarea class="form-control" rows="1" id="description" placeholder="{{'placeholder_description' | i18next}}"
                  formControlName="description" [ngClass]="{ 'is-invalid': submitted && form_control.description.errors }"></textarea>
                <div *ngIf="submitted && form_control.description.errors" class="invalid-feedback">
                  <div *ngIf="form_control.description.errors.required">{{'require_description' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="primary-language">{{ 'primary_language' | i18next }}</label>
                <select class="form-control" id="primary-language" formControlName="primaryLanguage" [ngClass]="{ 'is-invalid': submitted && form_control.primaryLanguage.errors }">
                  <option value="" selected>{{'select_primary' | i18next}}</option>
                  <option value="english">English</option>
                  <option value="tamil">Tamil</option>
                  <option value="spanish">Spanish</option>
                </select>
                <div *ngIf="submitted && form_control.primaryLanguage.errors" class="invalid-feedback">
                  <div *ngIf="form_control.primaryLanguage.errors.required">{{'require_primaryLanguage' | i18next}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="secondary-language">{{ 'secondary_language' | i18next }}</label>
                <select class="form-control" id="secondary-language" formControlName="secondaryLanguage" [ngClass]="{ 'is-invalid': submitted && form_control.secondaryLanguage.errors }">
                  <option value="" selected>{{'select_secondary' | i18next}}</option>
                  <option *ngFor="let c of languages" [ngValue]="c">{{ c }}</option>
                </select>
                <div *ngIf="submitted && form_control.secondaryLanguage.errors" class="invalid-feedback">
                  <div *ngIf="form_control.secondaryLanguage.errors.required">{{'require_secondaryLanguage' | i18next}}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn button-create" (click)="projectCreate()">{{ 'create' | i18next }}</button>
          <button type="button" class="btn button-close" (click)="onCloseHandled()">{{ 'cancel' | i18next }}</button>
        </div>
      </div>
    </div>
  </div>
</div>