.create-project-btn{
margin-top: 5%;
margin-left: 80%;
background-color: #3a7bd5;
color:antiquewhite;
}
.plus-icon{
 padding-right: 10px;   
}
body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

/* .main{
    margin-top: 70px;
} */
 hr{
    width: 10%;
    color: rgb(187, 166, 166);
 }
 .button-create{
    margin-right: 16px;
    background-color: #3a7bd5;
    color:#dee2e6;
 }
 .button-close{
   margin-right: 16px;
   background-color: #adb5bd8f;
   color:black;
}